#ceara_map {
  height: 300px;
}

#ais_fortaleza{
  width: 430px;
  height: 300px;
}

#ais_map{
  width: 430px;
  height: 300px;
}

.info {
  padding: 0px 8px;
  font: 12px/12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: right;
  line-height: 18px;
  color: #555;
}

.heatmap_legend {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.legend i.gradient {
  width: 100px;
  opacity: 1;
  background: rgb(247,251,255);
  background: linear-gradient(to right,#fff5eb,#fff0e1,#feebd7,#fee5cc,#fedebf,#fdd7b0,#fdcea0,#fdc48f,#fdb97e,#fdae6c,#fda35c,#fc984c,#fb8d3d,#f8812f,#f47522,#ef6a17,#e85e0e,#e05408,#d54b04,#c74303,#b73c02,#a83703,#9a3103,#8c2c04,#7f2704);
  border: solid black 1px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend p {
  margin-left: 1em;
}
.dc-chart .axis text {
  font-size:12px;
}
.dc-chart g.row text {fill: black;}